<!--
    <style>
      .username.ng-valid {
          background-color: lightgreen;
      }
      .username.ng-dirty.ng-invalid-required {
          background-color: red;
      }
      .username.ng-dirty.ng-invalid-minlength {
          background-color: yellow;
      }
 
      .email.ng-valid {
          background-color: lightgreen;
      }
      .email.ng-dirty.ng-invalid-required {
          background-color: red;
      }
      .email.ng-dirty.ng-invalid-email {
          background-color: yellow;
      }
 
    </style>
<br><br><br>
  <div class="ng-cloak">
      <div class="generic-container" ng-controller="UserController as ctrl">
          <div class="panel panel-default">
              <div class="panel-heading"><span class="lead">User Registration Form </span></div>
              <div class="formcontainer">
                  <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
                      <input type="hidden" ng-model="ctrl.user.id" />
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="uname">Name</label>
                              <div class="col-md-7">
                                  <input type="text" ng-model="ctrl.user.username" id="uname" class="username form-control input-sm" placeholder="Enter your name" required ng-minlength="3"/>
                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.uname.$error.required">This is a required field</span>
                                      <span ng-show="myForm.uname.$error.minlength">Minimum length required is 3</span>
                                      <span ng-show="myForm.uname.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                         
                       
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="address">Address</label>
                              <div class="col-md-7">
                                  <input type="text" ng-model="ctrl.user.address" id="address" class="form-control input-sm" placeholder="Enter your Address. [This field is validation free]"/>
                              </div>
                          </div>
                      </div>
 
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="email">Email</label>
                              <div class="col-md-7">
                                  <input type="email" ng-model="ctrl.user.email" id="email" class="email form-control input-sm" placeholder="Enter your Email" required/>
                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.email.$error.required">This is a required field</span>
                                      <span ng-show="myForm.email.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div>
 
                      <div class="row">
                          <div class="form-actions floatRight">
                              <input type="submit"  value="{{!ctrl.user.id ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                              <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset Form</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
       
  </div>-->
  

  <br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            </div>
        <div class="col-sm-4">
<!--User show hide button link start-->
<div ng-init="usershow=true">
</div>
<a href="" ng-click="usershow=false">Show</a>
  <button ng-click="usershow=true">Hide</button> 
  <!--User hide show over-->
</div>
  <div class="col-sm-4">
<!--Blog Hide Show link and button-->
<div ng-init="blogshow=true">
</div>
<a href="" ng-click="blogshow=false">Show</a>
  <button ng-click="blogshow=true">Hide</button>
  <!--Blog buttons over-->
  </div>
  <div class="col-sm-2">
            </div>
  </div><!--Row over-->

</div>

<div class="container">

<div ng-hide="usershow">
<div class="panel panel-default" >
                <!-- Default panel contents -->
              <div class="panel-heading"><span class="lead">List of Users </span></div>
              <div class="tablecontainer">
                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Email ID</th>
                              <th>Role</th>
                              <th>Password</th>
                              <th width="100"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="obj in allusers">
                              <td><span ng-bind="obj.name"></span></td>
                              <td><span ng-bind="obj.userName"></span></td>
                              <td><span ng-bind="obj.role"></span></td>
                              <td><span ng-bind="obj.password"></span></td>
                              <td>
                              <button type="button" ng-click="deleteUser(obj.userName)" class="btn btn-success custom-width">Delete</button>  
                              <!--<button type="button" ng-click="ctrl.remove(u.id)" class="btn btn-danger custom-width">Remove</button>-->
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      </div>
                    </div><!--container over-->
<!--Admin Blog permission-->
<div class="container">

<div ng-hide="blogshow">
<div class="panel panel-default" >
                <!-- Default panel contents -->
              <div class="panel-heading"><span class="lead">List of Blogs </span></div>
              <div class="tablecontainer">
                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th>ID</th>
                              <th>Title</th>
                              <th>Discreption</th>
                              <th>Owner</th>
                              <th>Status</th>
                              <th>Type</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="obj in blogs">
                              <td><span ng-bind="obj.blogId"></span></td>
                              <td><span ng-bind="obj.blogTitle"></span></td>
                              <td><span ng-bind="obj.blogDiscription"></span></td>
                              <td><span ng-bind="obj.blogOwnerId"></span></td>
                              <td><span ng-bind="obj.blogStatus"></span></td>
                              <td><span ng-bind="obj.blogCategory"></span></td>
                              <td>
                              <button type="button" ng-click="updateBlog(obj.blogId)" class="btn btn-success custom-width">Active</button>  
                              <button type="button" ng-click="deleteBlog(obj.blogId)" class="btn btn-danger custom-width">Remove</button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      </div>

      </div><!--Container over -->


<br><br><br><br><br>
